@import url('https://fonts.google.com/specimen/Montserrat?query=montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat','sans-serif';
    background-color: #000009;
    width: 100vw;
    height: 100vh;
    color: #ffff;
}
.wrapper{

}
header{
    background-color: #E81909;
    width: 100vw;
    height: 11vh;

}
.marca{
    margin-top: -6px;
    color: #ffff;

}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: relative;
    top: 0px;
}
.list{
    list-style: none;
}
.menu a{
    color: #ffff;
    text-decoration: none;
    padding: 10px 20px;

}
.menu li{
    list-style: none;
}
.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    
} 
.menu a:hover{
background-color: #FF3903;
transition: ease-in .2s;
box-shadow: 0 0 10px #FF3903, 0 0 40px #FF3903, 0 0 #FF3903;
transition-delay: .2s;
border-radius: 3px;
}
.info{
    color: #ffff;

}
.main{
    margin: 0 auto;
    width: 88vw;
    height: 88vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
h1{
    font-size: 3em;
}
span{
    color: #FF3903;
}
.img{
    position: relative;
    display: flex;
    position:sticky;
    padding:0px 0px;
    width: 400px;
    height: 380px;
    overflow: hidden;
    transition: 1s;   
}
.img:hover{
    box-shadow: 0 0 10px #FF3903, 0 0 40px #FF3903, 0 0 #FF3903;
    transition-delay: .2s;
    border:solid #aaa;
    border-radius: 4px;
}
.info p{
    font-size: 2em;
}
@media(max-width:600px){
    .menu{
        flex-direction: column;
    }
}
.main .conocimientos{
    height: 50px;
    width: 50px;
    background-color: #aaa;
}
